/* app css stylesheet */

.india-map {
    width: 700px;
}

.india-map .background {
    fill: #fff;
}

#provinces {
    fill: none;
    stroke: #FFF;
    stroke-width: .25;
}

#districts {
    stroke: #ffffff;
    stroke-width: .25;
}

.india-map .green {
    fill: green;
}

.india-map .red {
    fill: red;
}

.india-map .yellow {
    fill: yellow;
}

.india-map .blue {
    fill: blue;
}

.india-map__district:hover {
    fill: #ffda33;
}